*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
text-align: center;  
background-image: url('https://i.pinimg.com/originals/fd/8f/8d/fd8f8da060afe72035e078e5fe661452.png');
background-position: center;
background-size: cover;
min-height: 100vh;
left: 0;
right: 0;
top: 0;
}